<h1>Foundations</h1>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">Filter by category:</h5>
        <%= select_tag :category, options_for_select(Foundation.categories.keys, params[:category]), include_blank: true, data: { remote: true, url: foundations_path }, class: "form-select" %>
      </div>

      <div class="col">
        <h5 class="card-title">Filter by state:</h5>
        <%= select_tag :state, options_for_select(Foundation::STATES, params[:state]), include_blank: true, data: { remote: true, url: foundations_path }, class: "form-select" %>
      </div>

      <div class="col">
        <h5 class="card-title">Sort by:</h5>
        <%= select_tag :sort_by, options_for_select([['Name', 'name'], ['Date added', 'date_added'], ['Impact', 'impact']], params[:sort_by]), include_blank: true, data: { remote: true, url: foundations_path }, class: "form-select" %>
      </div>
    </div>
  </div>
</div>



<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <% @foundations.each do |foundation| %>
          <tr>
            <td><%= link_to foundation.name, foundation %></td>
            <td><%= foundation.address %></td>
            <td><%= foundation.category %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
