<h1>Foundations</h1>

<div>
  <label>Filter by category:</label>
  <%= select_tag :category, options_for_select(Foundation.categories.keys, params[:category]), include_blank: true, data: { remote: true, url: foundations_path } %>
</div>

<div>
  <label>Filter by state:</label>
  <%= select_tag :state, options_for_select(Foundation::STATES, params[:state]), include_blank: true, data: { remote: true, url: foundations_path } %>
</div>

<div>
  <label>Sort by:</label>
  <%= select_tag :sort_by, options_for_select([['Name', 'name'], ['Date added', 'date_added'], ['Impact', 'impact']], params[:sort_by]), include_blank: true, data: { remote: true, url: foundations_path } %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @foundations.each do |foundation| %>
      <tr>
        <td><%= link_to foundation.name, foundation %></td>
        <td><%= foundation.address %></td>
        <td><%= foundation.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
