<h1><%= @foundation.name %></h1>

<div class="card">
  <div class="card-body">
    <p class="card-text">Address: <%= @foundation.address %>, <%= @foundation.city %>, <%= @foundation.state %> <%= @foundation.zipcode %></p>
    <p class="card-text">Latitude: <%= @foundation.latitude %></p>
    <p class="card-text">Longitude: <%= @foundation.longitude %></p>
    <p class="card-text">Description: <%= @foundation.description %></p>
    <p class="card-text">Category: <%= @foundation.category %></p>
  </div>
</div>
